<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRUEBA CLASE 10 en la oficina</title>
</head>
<body>
    {{{body}}}
</body>
</html>